<!-- Top Page Panel -->
<div class="uk-panel uk-padding-small uk-background-secondary uk-light">
  <!-- hinder logo -->
  <div class="uk-container uk-align-left">
          <img src="https://fontmeme.com/permalink/180323/50aabc6e80ab2d2c3606770837f97459.png" alt="spray-paint-fonts" alt="Hinder Logo" width="250" border="0">
  </div>
  <!-- user login thumbnail -->

  <div class="uk-container uk-align-right">
    <div class="uk-thumbnail uk-thumbnail-small">
      {{!-- <img src="http://via.placeholder.com/150" alt="Member pic"> --}}
      <img class="userPhoto" src={{userInfo.photo}} alt="Member pic">
    </div>
  </div>
  <!-- username display -->
  <div class="uk-container uk-align-right">
    <h1>{{userInfo.name}} Home</h1>
  </div>
</div>

<!-- Send A Prank offcanvas page -->
<div class="uk-offcanvas-content">
  <!-- Nav Buttons -->
  <button class="uk-button uk-button-primary uk-button-large uk-margin-small-left" id="returnHomeButton_Index">Return Home</button>
  <button class="uk-button uk-button-primary uk-button-large uk-margin-small-left" id="returnLogin">Logout</button>
  <button class="uk-button-large uk-button-danger uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-usage" id="newPrankButton">New Prank</button>
  
  <div id="offcanvas-usage" uk-offcanvas>
        <div class="uk-offcanvas-bar prankDiv">
          <button id="closePrank"class="uk-offcanvas-close" type="button" uk-close></button>
          <h3>Send a Prank</h3>
          <div>
              <label for='prankCategory'>What type of prank do you want to send?</label>
              <br>
              <select class="form-control" id="prankCategory">
                  <option value="0" selected disabled>Select an option</option>
              </select>
              <br>
              <label for='prankTarget'>Who do you want to prank?</label>
              <br>
              <select class="form-control" id="prankTarget">
                  <option value="0" selected disabled>Select an option</option>
              </select>
          </div>
          <br>
          <button class="uk-button uk-button-danger uk-align-left" type="button" id="submitPrank">Send Prank</button>
        </div>
    </div>
</div>

<!-- page grid -->
<div class="uk-text-center" uk-grid>
  <!-- sidebar -->
  <div class="uk-width-1-4@m">
    <!-- group member profile card -->
        <div class="uk-card uk-card-small uk-card-default uk-card-body uk-padding-small">
          <h4 id="groupCard" data-group="{{groupInfo.group_id}}">{{groupInfo.group_name}}</h4>

          <!-- handlebars: all group member names & corresponding photo URLs add to UL?? -->
          <ul class="uk-tab-left" uk-tab>
              <li>
                <div class="uk-thumbnail uk-thumbnail-mini uk-margin-small-bottom">
                  {{#each group_members}}
                    {{> index/index-block}}
                  {{/each}}
                </div>
              </li>
          </ul>
        </div>
    </div>
  
  <!-- main responsive div -->
    <div class="uk-width-expand@m uk-margin-right">
      <!-- pending pranks card -->
        <div class="uk-panel uk-panel-scrollable uk-margin-bottom">
          <h4 class="uk-text-bold">Pending Pranks</h4>
          <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
              <tr>
                  <th class="uk-text-bold">Pranker</th>
                  <th class="uk-text-bold">Prank Sent</th>
                  <th class="uk-text-bold">Member Pranked</th>
              </tr>
          </thead>
          <tbody>

                  {{#each pranks}}
                    {{#unless complete}}
                      {{> index/prank-block-pending}}
                    {{/unless}}
                  {{/each}}

          </tbody>
      </table>

        </div>
      <!-- Completed Pranks -->
        <div class="uk-panel uk-panel-scrollable">
          <h4 class="uk-text-bold">Most Recent Pranks</h4>
          <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
              <tr>
                  <th class="uk-text-bold">Pranker</th>
                  <th class="uk-text-bold">Prank Sent</th>
                  <th class="uk-text-bold">Member Pranked</th>
                  <th class="uk-text-bold">Rate It!</th>
              </tr>
          </thead>
          <tbody>

                  {{#each pranks}}
                    {{#if complete}}
                      {{> index/prank-block-complete}}
                    {{/if}}
                  {{/each}}

          </tbody>
      </table>
        </div>
    </div>
</div>

<!-- Stats div -->
<div class= "uk-margin-left uk-margin-right">
  <ul uk-tab>
      <li><a href="#">Top Rated Prankster</a></li>
      <li><a href="#">Top Groups</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
      <li>JS top rated pranksters chart</li>
      <li>JS top rated group chart</li>
  </ul>
</div>


<div id="prankContainer">

  {{#each pending_pranks}}
    {{> pranks/modal-block}}
  {{/each}}

</div>
