
<!-- Background Div -->
<div class="uk-background-image@m uk-background-cover uk-height-1-1" style="background-image: url(../assets/images/brickBkgd.jpg);">

    <!-- Logo Div -->
    <div class="uk-text-center" uk-grid>
        <!-- Logo -->
        <!-- https://fontmeme.com/fonts/ -->
        <div class="uk-width-expand@m uk-margin-medium-top">
                <div class="uk-inline">
                    <img src="https://fontmeme.com/permalink/180321/ce664c5423e17f0a3c449aa1731d6588.png" alt="Hinder Logo" width="450" border="0">
                </div>
        </div>
    </div>

   <!-- Login Container -->
    <div class="uk-container uk-container-large uk-width-1-3@m uk-margin-xlarge-top">
        <!-- Login Div -->
    <div class="uk-text-center" id="loginForm" uk-grid>
        <!-- Login Form -->
        <form>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" placeholder="Username" id='login_userName'>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="text" placeholder="Password" id='login_userPassword'>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <button class="uk-button uk-button-primary" id="loginButton">Login</button>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <button class="uk-button uk-button-primary" id="signupButton">Signup</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    
</div>