<div class="uk-background-image@m uk-background-cover uk-height-1-1" style="background-image: url(../assets/images/brickBkgd.jpg);">

    <div class="uk-text-center" uk-grid>

        <!-- Logo -->
        <div class="uk-width-expand@m">
                <div class="uk-panel uk-padding uk-background-secondary uk-light">
                    <a class="uk-logo" href="#">Hinder</a>
                </div>
        </div>

    </div>


    <div class="uk-text-center" id="loginForm" uk-grid>
        <!-- Login Form -->
        <form>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" placeholder="Username" id='userName'>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="text" placeholder="Password" id='userPassword'>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <button class="uk-button uk-button-primary" id="loginButton">Login</button>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <button class="uk-button uk-button-secondary" id="signupButton">Signup</button>
                </div>
            </div>

        </form>
    </div>
</div>