{{!-- Profile page header, including Logo, Send Prank Button, Logout, and group member profile page --}}
<div class="row profileRow">
  <div class="col-md-4 col-sm-12">
    <div class="homepageTitle" >
        {{userInfo.name}} Profile Page
    </div>
    <div class="homepageLinkDiv">
        {{#each group_members}}
            {{#if me}}
                {{> profiles/profile-homepage}}
            {{/if}}
        {{/each}}
    </div>
  </div> 
  <div class="col-md-4 col-sm-12">
    <div class="hinderClass">
      <img class="hinderLogo" src="https://fontmeme.com/permalink/180323/50aabc6e80ab2d2c3606770837f97459.png" alt="spray-paint-fonts" alt="Hinder Logo" width="200" border="0">
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <form class="form-inline navbarButton">
        <button class="btn btn-outline-danger" type="button" id="sendPrankButtonProfile">Send prank!</button>
        <button class="btn btn-sm btn-outline-danger" type="button" id="logoutButton">Logout</button>
    </form>
  </div>
</div>

{{!-- Content row --}}
<div class="row profileRow">

  {{!-- Group Members side bar --}}
  <div class="col-md-3 sm-3 -12">

    <div class="row">
      <div class="col-1">
      </div>

      <div class="col-10 groupCard">
        <h5 id="groupCardTitleProfile" data-group="{{groupInfo.id}}">{{groupInfo.group_name}}</h5>
        <div class="memberCards">
          {{#each group_members}}
            {{> index/index-block}}
          {{/each}}
        </div>
      </div>

      <div class="col-1">
      </div>
    </div>

  </div>

  {{!-- Pranks Column --}}
  <div class="col-md-9 sm-9 -12 allPranksColumn">

    {{!-- Row for pranks received by group member --}}
    <div class="row">

      <div class="col-12 pranksReceivedColumn">
        <table class="table table-striped pranksReceivedTable">
          <h3 class="tableHeader">Pranks Received</h3>
          <thead class="pranksReceivedTableHead">
            <tr> 
              <th scope="col">Pranker</th>
              <th scope="col">Prank Sent</th>
              <th scope="col">Rate it</th>
            </tr>
          </thead>
          <tbody>

            {{#each pranks}}
                {{#if target.user}}
                    {{> profiles/prank-block-target}}
                {{/if}}
            {{/each}}

          </tbody>
        </table>
      </div>

    </div>

    {{!-- Row for pranks sent my group member --}}
    <div class="row">

      <div class="col-12 pranksSentColumn">
        <table class="table table-striped pranksSentTable">
          <h3 class="tableHeader">Pranks Sent</h3>
          <thead class="pranksSentTableHead">
            <tr> 
              <th scope="col">Prank Sent</th>
              <th scope="col">Member Pranked</th>
              <th scope="col">Rate it</th>
            </tr>
          </thead>
          <tbody>

            {{#each pranks}}
                {{#if pranker.user}}
                    {{> profiles/prank-block-pranker}}
                {{/if}}
            {{/each}}
            
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>

{{!-- Send Prank Modal for Profile Page --}}
<div class="modal prankModalProfile" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Send a Prank!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for='prankCategory'>What type of prank do you want to send?</label>
        <br>
        <select class="form-control" id="prankCategoryProfile">
            
        </select>
        <br>
        <label for='prankTarget'>Who do you want to prank?</label>
        <br>
        <select class="form-control" id="prankTargetProfile">
            
        </select>
    </div>
    <br>
    <button class="btn btn-outline-danger submitPrankButtonProfile" type="button" id="submitPrankProfile">Send Prank</button>
    </div>
  </div>
</div>

