<!-- Top Page Panel -->
	<div class="uk-panel uk-padding-small uk-padding-remove-bottom uk-margin-small uk-background-secondary uk-light">
		<!-- hinder logo -->
		<div class="uk-container uk-align-left uk-padding-small uk-padding-remove-top uk-margin-medium-bottom">
            <img src="https://fontmeme.com/permalink/180323/50aabc6e80ab2d2c3606770837f97459.png" alt="spray-paint-fonts" alt="Hinder Logo" width="250" border="0">
        </div>
        <!-- username display -->
        <div class="uk-container uk-align-right uk-position-bottom uk-margin-small-bottom">
        	<h1>Username Profile Settings</h1>
        </div>
    </div>
	<!-- Send A Prank offcanvas page -->
	<div class="uk-offcanvas-content">
		<button class="uk-button uk-button-primary uk-button-large uk-margin-small-left">Return Home</button>
		<button class="uk-button-large uk-button-danger uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-usage">New Prank</button>
		<div id="offcanvas-usage" uk-offcanvas>
	        <div class="uk-offcanvas-bar">
	        	<button class="uk-offcanvas-close" type="button" uk-close></button>
	        	<h3>Send a Prank</h3>
	        	<p>send prank item...</p>
	        	<button class="uk-button uk-button-danger uk-align-left" type="button">Send Prank</button>
	        </div>
	    </div>
	</div>    

	<!-- sidebar -->
	<div class="uk-text-center" uk-grid>
		<div class="uk-width-1-4@m uk-padding-remove">
			<!-- group member profile card -->
	        <div class="uk-card uk-card-small uk-card-default uk-card-body uk-padding-small">
	        	<h4>Group Name</h4>
	        	<ul class="uk-tab-left" uk-tab>
		            <li><div class="uk-thumbnail uk-thumbnail-mini uk-margin-small-bottom">
			            	<img src="http://via.placeholder.com/50" alt="Member pic">
			            	<figcaption class="uk-thumbnail-caption">
			            		<a href="#">Member A</a>
			            	</figcaption>
			            </div>
		            </li>
		            <li><div class="uk-thumbnail uk-thumbnail-mini uk-margin-small-bottom">
			            	<img src="http://via.placeholder.com/50" alt="Member pic">
			            	<figcaption class="uk-thumbnail-caption">
			            		<a href="#">Member B</a>
			            	</figcaption>
			            </div>
		            </li>
		            <li><div class="uk-thumbnail uk-thumbnail-mini uk-margin-small-bottom">
			            	<img src="http://via.placeholder.com/50" alt="Member pic">
			            	<figcaption class="uk-thumbnail-caption">
			            		<a href="#">Member C</a>
			            	</figcaption>
			            </div>
		            </li>
		            <li><div class="uk-thumbnail uk-thumbnail-mini uk-margin-small-bottom">
			            	<img src="http://via.placeholder.com/50" alt="Member pic">
			            	<figcaption class="uk-thumbnail-caption">
			            		<a href="#">Member D</a>
			            	</figcaption>
			            </div>
		            </li>
		        </ul>
	        </div>
	    </div>
		
	    <div class="uk-width-expand@m uk-padding-remove">
	    	<!-- pending pranks card -->
	        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
	        	<ul class="uk-list uk-list-striped">
				    <li>Username</li>
				    <li>Userphoto</li>
				    <li>Group membership</li>
				    <li>Group photo</li>
				    <li>Phone carrier</li>
				    <li>Phone number</li>
				    <li>Number of pranks sent</li>
				</ul>
	        </div>
	    </div>
	</div>
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>

<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Login page JS file -->
<script src="../assets/js/login.js"></script>