<div class="uk-background-image@m uk-background-cover uk-height-1-1" style="background-image: url(../assets/images/brickBkgd.jpg);">
    <div class="uk-text-center" uk-grid>
        <!-- Logo -->
        <div class="uk-width-expand@m">
                <div class="uk-panel uk-padding uk-background-secondary uk-light">
                    <a class="uk-logo">Welcome to Hinder</a>
                </div>
        </div>
    </div>
    <!-- signup form -->
    <div class="uk-text-center" uk-grid>
        <form class="uk-grid-small" id="signupForm" uk-grid>
            <!-- user name -->
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" id="signup_userName" placeholder="User Name">
            </div>
            <!-- user password -->
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" id="signup_password" placeholder="User password">
            </div>
            <!-- user profile pic URL -->
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" id="signup_profileImage" placeholder="Profile Image URL">
            </div>
            <!-- user phone number -->
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" id="signup_phoneNumber" placeholder="Phone Number">
            </div>
            <!-- user phone carrier -->
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" id="signup_phoneCarrier" placeholder="Phone Carrier">
            </div>
            
            <div class="uk-width-1-2@s">
                <div class="uk-margin">
                    <!-- join existing group -->
                    <div class="uk-inline">
                        <button class="uk-button uk-button-primary" type="button">Join an Existing Group</button>
                        <div class="uk-width-large" uk-dropdown>
                            <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                <div>
                                    <label for='signup_groupChoice'>Existing Groups</label>
                                    <select class="form-control" id="signup_groupChoice">
                                        <option value="0" selected disabled>Select an option</option>
                                        {{#each groups}}
                                            {{> signup/signup-block }}
                                        {{/each}}
                                    </select>
 

                                    {{!-- <form class="uk-search uk-search-default">
                                        <input class="uk-search-input" type="search" placeholder="Search...">
                                    </form> --}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- create new group -->
                    <div class="uk-inline">
                        <button class="uk-button uk-button-primary" type="button">Create a New Group</button>
                        <div class="uk-width-large" uk-dropdown>
                            <div class="uk-dropdown-grid uk-child-width-1-1@m" uk-grid>
                                {{!-- <div>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="#">Group Avatar</a></li>
                                    </ul>
                                </div> --}}
                                <form class="uk-form">
                                    <div>
                                        <input type="text" placeholder="Enter group name" id="signup_newGroupChoice">
                                        <input type="text" placeholder="Enter group bio" id="signup_bio_newGroupChoice">
                                        <input type="text" placeholder="Enter group photo URL" id="signup_photo_newGroupChoice">
                                    </div>
                    
                                    <div>
                                        <label for='signup_groupCategoryChoice'>Group Categories</label>
                                        <select class="form-control" id="signup_groupCategoryChoice">
                                            <option value="0" selected disabled>Select an option</option>
                                            {{#each categories}}
                                                {{> signup/signup-block }}
                                            {{/each}}
                                        </select>
     
                                    </div>
                                    {{!-- <div>
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-nav-header">Select a group type</li>
                                            <li><a href="#">Work</a></li>
                                            <li><a href="#">Friends</a></li>
                                            <li><a href="#">Team</a></li>
                                            <li><a href="#">Fantasy League</a></li>
                                        </ul>
                                    </div> --}}

                                </form>
                            </div>
                        </div>
                    </div>
            


                
            <!-- submit -->

                <div class="uk-margin" id="signup_buttonDiv">
                    <button class="uk-button uk-button-primary uk-link" id="submitNewUser">Submit</button>
                </div>

                <div class="uk-margin" id="login_buttonDiv">
                    <button class="uk-button uk-button-primary" id="returnLogin">Return to Login</button>
                </div>


            </div>
        </form>
    </div>
</div>