{{!-- Hinder Logo Row --}}
<div class="row signupRow">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div class="hinderClass">
      <img class="hinderLogo" src="https://fontmeme.com/permalink/180323/50aabc6e80ab2d2c3606770837f97459.png" alt="spray-paint-fonts" alt="Hinder Logo" width="400" border="0">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>

{{!-- Return Home Button Row --}}
<div class="row signupRow">
	<div class="col-md-2 col-sm-1 col-1">
	</div>

	<div class="col-md-8 col-sm-10 col-10">
		<div class='returnHomeButtonDiv'>
	    	<button type="button" id="returnHomeButton" class="btn btn-outline-danger returnHomeButton">Return to Login</button>
	  	</div>
	 </div>

	 <div class="col-md-2 col-sm-1 col-1">
	</div>

</div>

{{!-- Additional text row --}}
<div class="row">

	<div class="col-md-2 col-sm-1 col-1">
	</div>

	<div class="col-md-8 col-sm-10 col-10 headerColumn">
		<div class="signupHeaderTop">
			Create a user profile and either join an existing group or make a new group!
		</div>
	</div>

	<div class="col-md-2 col-sm-1 col-1">
	</div>

</div>

{{!-- User Profile Creation row --}}
<div class="row signupRow">

	<div class="col-md-3 col-sm-2 col-2">
	</div>

	<div class="col-md-6 col-sm-8 col-8">

		<div class="card signupUserCard">
		  <div class="card-body">
		    <form>
		       <h3 class="signupHeader">Create a new user profile</h3> 
		       <br>
		       <div class="form-group">
		        <label class="signupForm" for="signup_userName">Create username</label>
		        <input type="text" class="form-control" id="signup_userName" placeholder="Enter username">
		      </div>
		      <div class="form-group">
		        <label class="signupForm" for="signup_password">Create password</label>
		        <input type="password" class="form-control" id="signup_password" placeholder="Enter password">
		      </div>
		      <div class="form-group">
		        <label class="signupForm" for="signup_profileImage">Enter profile photo URL</label>
		        <input type="text" class="form-control" id="signup_profileImage" placeholder="Enter image URL">
		      </div>
		    </form>
		  </div>
		</div>

	</div>

	<div class="col-md-3 col-sm-2 col-2">
	</div>

</div>

{{!-- Row to join an existing group or create a new one --}}
<div class="row signupRow">

	<div class="col-md-2 col-sm-1 col-1">
	</div>

	<div class="col-md-8 col-sm-10 col-10">

		<div class="row">

			<div class="col-md-6 col-sm-12 col-12">
					
				<div class="card signupGroupCard">
				  <div class="card-body">
				    <form>
				       <h3 class="signupHeader">Join an existing group</h3> 
				       <div class="form-group">
				       		<label class="signupForm"for="signup_groupChoice">Existing Groups</label>
						    <select class="form-control" id="signup_groupChoice">
						      <option value="0" selected disabled>Select an option</option>
						      	{{#each groups}}
		                        	{{> signup/signup-block }}
		                    	{{/each}}
						    </select>
				      </div>
				      
				    </form>
				  </div>
				</div>

			</div>


			<div class="col-md-6 col-sm-12 col-12">

				<div class="card signupNewGroupCard">
				  <div class="card-body">
				    <form>
				       <h3 class="signupHeader">Create a new group</h3>
				       <div class="form-group">
				        <label class="signupForm" for="signup_newGroupChoice">Enter group name</label>
				        <input type="text" class="form-control" id="signup_newGroupChoice" placeholder="Enter group name">
				      </div> 
				      <div class="form-group">
				        <label class="signupForm" for="signup__bio_newGroupChoice">Enter group bio</label>
				        <input type="text" class="form-control" id="signup_bio_newGroupChoice" placeholder="Enter group bio">
				      </div>
				      <div class="form-group">
				        <label class="signupForm" for="signup__photo_newGroupChoice">Enter group photo URL</label>
				        <input type="text" class="form-control" id="signup_photo_newGroupChoice" placeholder="Enter image URL">
				      </div>
				      <div class="form-group">
				       		<label class="signupForm"for="signup_groupCategoryChoice">Select a group category</label>
						    <select class="form-control" id="signup_groupCategoryChoice">
						      <option value="0" selected disabled>Select an option</option>
						      	{{#each categories}}
		                            {{> signup/signup-block }}
		                        {{/each}}
						    </select>
				      </div> 
				    </form>
				  </div>
				</div>

			</div>
		</div>

	</div>

	<div class="col-md-2 col-sm-1 col-1">
	</div>

</div>

{{!-- Submit new user and group choice row --}}
<div class="row signupRow">
	<div class="col-md-2 col-sm-1 col-1">
	</div>

	<div class="col-md-8 col-sm-10 col-10">
		<div class='submitButtonDiv'>
	    	<button type="button" id="submitNewUser" class="btn btn-outline-danger submitButton">Submit</button>
	  	</div>
	 </div>

	 <div class="col-md-2 col-sm-1 col-1">
	</div>

</div>


{{!-- Success modal for creation of user and/or group --}}
<div class="modal fade" id="submitNewUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title signupModalTitle" >Success!</h5>
      </div>
      <div class="modal-body signupModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="returntoLoginButton" data-dismiss="modal">Return to Login</button>
      </div>
    </div>
  </div>
</div>

{{!-- Error modal if missing required information --}}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title errorModalTitle" >Error:</h5>
      </div>
      <div class="modal-body errorModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closeErrorModalButton" data-dismiss="modal">Close Error</button>
      </div>
    </div>
  </div>
</div>


	

