<!-- Logo Div -->
<div class="uk-panel uk-padding uk-background-secondary uk-light">
    <div class="uk-container uk-align-center">
        <img src="https://fontmeme.com/permalink/180323/50aabc6e80ab2d2c3606770837f97459.png" alt="spray-paint-fonts" alt="Hinder Logo" width="300" border="0">
    </div>
</div>

<!-- Sign-up Container -->
<div class="uk-container uk-margin-large-top">
    <!-- Sign-up Form -->
    <div id="signupForm" uk-grid>
        <form class="uk-grid-small" uk-grid>
            <!-- user name -->
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" id="signup_userName" placeholder="User Name">
            </div>
            <!-- user password -->
            <div class="uk-margin">
                <div class="uk-inline">
                    <form class="uk-form">
                        <div class="uk-form-password">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="password" placeholder="Password" id='signup_password'>
                        </div>
                    </form>
                </div>
            </div>
            <!-- user profile pic URL -->
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" id="signup_profileImage" placeholder="Profile Image URL">
            </div>
            <!-- user phone data -->
            <div class="uk-width-1-4@s">
                <div class="uk-button-group">
                    <button class="uk-button uk-button-danger" type="button">Phone Information</button>
                    <div class="uk-width-medium" uk-dropdown>
                        <div class="uk-dropdown-grid uk-child-width-1-1@m uk-animation-slide-top-small" uk-grid>
                            <div>
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><input class="uk-input" type="text" id="signup_phoneNumber" placeholder="Phone Number"></li>
                                    <li class="uk-nav-header">Phone Carrier</li>
                                    <li><label><input class="uk-radio" type="radio" id="verizon"> Verizon</label></li>
                                    <li><label><input class="uk-radio" type="radio" id="at&t"> AT&T</label></li>
                                    <li><label><input class="uk-radio" type="radio" id="tmobile"> T-Mobile</label></li>
                                    <li><label><input class="uk-radio" type="radio" id="sprint"> Sprint</label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Join existing group -->
            <div class="uk-width-1-2@s">
                <div class="uk-block">
                    <button class="uk-button uk-button-danger uk-align-left" type="button">Join a Group</button>
                    <div class="uk-width-small" uk-dropdown>
                        <div class="uk-dropdown-grid uk-child-width-1-1@m uk-animation-slide-top-small" uk-grid>
                            <div>
                                <label for='signup_groupChoice'>Existing Groups</label>
                                <select class="form-control" id="signup_groupChoice">
                                    <option value="0" selected disabled>Select an option</option>
                                    {{#each groups}}
                                        {{> signup/signup-block }}
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Create new group -->
                    <button class="uk-button uk-button-danger uk-align-left" type="button">Create a Group</button>
                    <div class="uk-width-large" uk-dropdown>
                        <div class="uk-dropdown-grid uk-child-width-1-2@m uk-animation-slide-top-small" uk-grid>
                            <div>
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li class="uk-nav-header">New Group</li>
                                    <li><input type="text" id="signup_newGroupChoice" placeholder="Enter name"></li>
                                    <label for='signup_groupCategoryChoice'>Group Categories</label>
                                    <select class="form-control" id="signup_groupCategoryChoice">
                                        <option value="0" selected disabled>Select an option</option>
                                        {{#each categories}}
                                            {{> signup/signup-block }}
                                        {{/each}}
                                    </select>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li class="uk-nav-header">Group Avatar</li>
                                    <li><input type="text" placeholder="Image URL"></li>
                                    <li class="uk-nav-header"> Group Bio</li>
                                    <input type="text" placeholder="Tell us about your group" id="signup_bio_newGroupChoice">
                                    <li class="uk-nav-header"> Group Photo</li>
                                    <input type="text" placeholder="Photo URL" id="signup_photo_newGroupChoice">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Form Buttons -->
            <div class="uk-width-2-2@s uk-clearfix">
                <div class="uk-block">
                    <div class="uk-inline uk-align-right">
                        <button class="uk-button uk-button-primary uk-link" id='returnLogin'>Return to Login</button>
                    </div>
                    <div class="uk-inline uk-align-right">
                        <button class="uk-button uk-button-primary uk-link" id='submitNewUser'>Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
