html, body {
	margin: 0;
	height: 100%;
}

@media (min-width: 960px)
.uk-container {
    padding-left: 40px;
    padding-right: 40px;
}

@media (min-width: 640px)
.uk-container {
    padding-left: 30px;
    padding-right: 30px;
}
