.homepageTitle {
    color: white;
    font-family: 'Sedgwick Ave', cursive;
    text-align: center;
    margin-top: 30px;
    font-size: 20px
}

.hinderClass {
	text-align: center;
}

.navbarButton {
    padding: 10px 0px 10px 0px;
    color: white;
    font-family: 'Sedgwick Ave', cursive;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn-outline-danger {
	border-radius: 10px;
	border: 3px solid red;
}

#sendPrankButtonProfile {
    margin-right: 20px;
    font-size: 20px;
    color: white
}

#logoutButton {
    font-size: 18px;
    color: white
}

.profileRow {
	padding-top: 20px;
	padding-bottom: 20px;
}

.profilePageHeader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px
}

#userName {
    font-size: 30px;
    color: white;
    font-family: 'Sedgwick Ave', cursive;
    border-bottom: 2px solid red;
}

.groupCard {
    background-color: rgba(249, 235, 234, 0.7);
}

#groupCardTitleProfile {
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.memberCards {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.card-title:hover {
    color: red
}

.tableHeader {
    font-family: 'Sedgwick Ave', cursive;
    color: white;
    text-align: center;
    margin-top: 10px
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

tbody {
    display: block;
    max-height: 500px;
    overflow-y:scroll;
}

.pranksReceivedColumn {
    padding: 0px 50px 0px 50px;
}

.pranksReceivedTable {
    background-color: rgba(249, 235, 234, 0.7);
}

.pranksReceivedTableHead {
    font-family: 'Sedgwick Ave', cursive;
}

.pranksSentColumn {
    padding: 0px 50px 0px 50px;
}

.pranksSentTable {
    background-color: rgba(249, 235, 234, 0.7);
}

.pranksSentTableHead {
    font-family: 'Sedgwick Ave', cursive;
}

.prankPhoto {
    width: 100px;
}

.thumbsDownDiv {
    margin-top: 7px;
}

.thumbsUp:hover,
.thumbsDown:hover {
    transform: translateY(-3px);
}

.prankModalProfile {
    text-align: center;
    justify-content: center;
}

.modal-title {
    font-family: 'Sedgwick Ave', cursive;
}

.submitPrankButtonProfile {
    padding: 10px 0px 10px 0px;
    color: white;
    font-family: 'Sedgwick Ave', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 125px;
    background-color: red;
}

.homepageLinkDiv {
    text-align: center;
    margin-top: 10px;
}

.homepageLink {
    color: white;
    font-size: 20px;
    font-family: 'Sedgwick Ave', cursive;
    padding: 5px;
    border-radius: 10px;
	border: 3px solid red;
}

.homepageLink:hover {
    text-decoration: none;
    background-color: red;
    color: white
}